<!doctype html>
<html lang="en" ng-app="gsdApp">
 <head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="/style/style.css">

  <title>Ground Systems Director</title>
 </head>
 <body ng-controller="gsdCtrl">
  <div id="header">
    <h1><img src="/psas.svg" alt="PSAS" style="height:35px;width:35px;"> Ground Systems Director</h1>
  </div>
  <div class="machine" ng-class="{'on': machine.connected, 'off': !machine.connected }" ng-repeat="machine in machines">
    <h2>
      <span ng-class="{'fui-check-circle': machine.connected, 'fui-cross-circle': !machine.connected }" ></span> {{ machine.name }}
      <span class="connection-url">({{ machine.connect}})</span>
      <button class="danger" ng-disabled="!machine.connected" name="reboot" ng-click="machine.reboot()">reboot</button>
    </h2>
    <h3>
      <div><div chart-cpu></div></div>
      <div><div chart-ram></div></div>
    </h3>
    <ul class="services">
        <li ng-repeat="service in machine.services">
           <span><span class="fui-cross-circle"> </span> {{ service.name }}</span>
        </li>
        <li ng-hide="machine.services.length">Connecting...</li>
    </ul>
  </div>

  <script src="/js/dygraph-combined.js"></script>
  <script src="/js/angular.min.js"></script>
  <script src="/js/ng-websocket.js"></script>
  <script src="/js/app.js"></script>
  <script src="/js/controller.js"></script>
 </body>
</html>
