<!doctype html>
<html lang="en" ng-app="gsdApp">
 <head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>Ground Systems Director</title>
 </head>
 <body ng-controller="gsdCtrl">
  <h1>Ground Systems Director</h1>
  <hr>
  <div class="machine" ng-class="{'on': machine.connected, 'off': !machine.connected }" ng-repeat="machine in machines">
    <h2>{{ machine.name }} <span class="connection-url">({{ machine.connect}})</span> <button name="reboot" ng-click="machine.reboot()">reboot</button></h2>
    <h3><span class="status">Status: {{ machine.connected | connected }}</span><div chart-cpu style="width: 30%; height: 100px;"></div><div chart-ram style="width: 30%; height: 100px;"></div></h3>
    <p>services: </p>
    <ul class="services">
        <li ng-repeat="service in machine.services"><span>{{ service.name }}</span>
            <ul class="controls">
              <li><button name="start" ng-click="machine.start(service.name)">start</button></li>
              <li><button name="stop" ng-click="machine.stop(service.name)">stop</button></li>
              <li><button name="restart" ng-click="machine.restart(service.name)">restart</button></li>
            </ul>
        </li>
        <li ng-hide="machine.services.length">Connecting...</li>
    </ul>
  </div>

  <script src="/js/dygraph-combined.js"></script>
  <script src="/js/angular.min.js"></script>
  <script src="/js/ng-websocket.js"></script>
  <script src="/js/app.js"></script>
  <script src="/js/controller.js"></script>
 </body>
</html>
